<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=MyDocuments}/iRacingManager/iRacingManager.log" archiveFileName="${LogHome}/iRacingManager/iRacingManager-${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}" maxArchiveFiles="5" archiveEvery="Day" />
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
        <logger name="*" minlevel="Error" writeTo="logfile" />
    </rules>
</nlog>